.day-container {
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  background-color: #fff;


  display: flex;
  flex-direction: column;
}

.time-row {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.time-row mat-form-field {
  flex: 1;
  min-width: 200px;
}

.error {
  color: red;
  font-size: 0.85rem;
  margin-top: 4px;
}

.buttons-group {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

form {
  max-width: 800px;
  margin: 0 auto;
  padding: 24px;
}
