<link rel="stylesheet" href="workshop-card.component.css">
<mat-card class="workshop-card">
  <div class="img-wrapper">
    <img [src]="workshop.image"
         [alt]="workshop.name" />
  </div>

  <mat-card-content>
    <h3>{{ workshop.name }}</h3>
    <div class="meta">
      <mat-icon aria-label="false" svgIcon="home"></mat-icon>
      <span>{{ workshop.full_address }}</span>

      <mat-icon inline>call</mat-icon>
      <span>{{ workshop.contact_phone }}</span>
    </div>

    <p class="desc">{{ workshop.description }}</p>
  </mat-card-content>

  <mat-card-actions>
    <button class="workshop-item-button" mat-stroked-button color="primary"
            (click)="view.emit(workshop.workshop_id)">
      Ver más
    </button>
  </mat-card-actions>
</mat-card>
