<div class="page-container">
  <h1>Horario de Atención</h1>
  <p>Configuración de los horarios de atención</p>

  <form [formGroup]="atentionform" (ngSubmit)="onRegisteredschedule()" class="form-container">
    @for (day of days; track day) {
      <div [formGroupName]="day" class="day-row">
        <strong class="day-label">{{ day }}</strong>

        <mat-form-field appearance="outline" class="time-field">
          <mat-label>Inicio</mat-label>
          <input matInput type="time" formControlName="start">
        </mat-form-field>

        <span class="to-label">a</span>

        <div class="time-field-wrapper">
          <mat-form-field appearance="outline" class="time-field">
            <mat-label>Fin</mat-label>
            <input matInput type="time" formControlName="end">
          </mat-form-field>

          @if (atentionform.get(day)?.hasError('rangoInvalido') && atentionform.get(day)?.touched) {
            <div class="warning-floating">
              <mat-icon class="warn-icon" color="warn">warning</mat-icon>
              <span>Horario inválido</span>
            </div>
          }
        </div>

      </div>
    }

    <button mat-raised-button color="primary" type="submit" [disabled]="atentionform.invalid">
      Guardar cambios
    </button>
  </form>
</div>
